include README.rst
include LICENSE
include AUTHORS
include tox.ini
include .coveragerc
include .pylintrc
include *.komodoproject
graft tests
graft examples
graft src
graft docs
global-exclude *.pyc *.pyo
